.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site > .container {
  flex: 1;
  padding-top: 5em;
  padding-bottom: 5em;
}

.wireframe {
  margin-top: 2em;
}

.loading-message {
  color: #fff;
  font-size: 25px;
  font-weight: 300;
  font-family: sans-serif;
}
.sk-spinner.sk-spinner-double-bounce .sk-double-bounce1,
.sk-spinner.sk-spinner-double-bounce .sk-double-bounce2 {
  background-color: #fff;
}
