<template name="addProduct">
  <form class="ui form add-product">
    <div class="field">
      <label for="name">Name</label>
      <input id="name" placeholder="Name" type="text">
    </div>
    <div class="field">
      <label for="vendor_name">Vendor Name</label>
      <input id="vendor_name" placeholder="Vendor name" type="text">
    </div>
    <div class="field">
      <label for="vendor_slug">Vendor Slug</label>
      <input id="vendor_slug" placeholder="Vendor slug" type="text">
    </div>
    <div class="fields">
      <div class="ui sixteen wide field dropdown">
        <label for="best_before_date">Best before date</label>
        <input id="best_before_date" placeholder="Best before date" class="datetimepicker" type="text" />
      </div>
    </div>
    <button class="ui button" type="submit">Submit</button>
  </form>
</template>
