<template name="nav">
  <header class="ui fixed inverted menu blue">
    <div class="ui container">
      <a href="{{pathFor 'homeIndex'}}" class="header item">
        Where's my food?
      </a>
      <a href="{{pathFor 'homeIndex'}}" class="item">Home</a>
      <div class="ui simple dropdown item">
        Vendors <i class="dropdown icon"></i>
        <div class="menu">
          {{# each vendors}}
            <a class="item" href="{{pathFor 'vendorsShow'}}">{{name}}</a>
          {{/each}}
        </div>
      </div>
      {{# if isInRole 'Administrator'}}
        <a href="#" class="item">Admin, hysh..</a>
      {{/if}}
      <a href="{{pathFor 'accountHome'}}" class="item floated right">Account</a>
    </div>
  </header>
</template>
